<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>任务列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>任务列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>任务名称</th>
            <th>任务分组</th>
            <th>任务状态</th>
            <th>任务执行方法</th>
            <th>cron 表达式</th>
            <th>任务描述</th>
            <th>时区</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="task : ${tasks}">
            <th scope="row" th:text="${task.id}"></th>
            <td th:text="${task.jobName}"></td>
            <td th:text="${task.jobGroup}"></td>
            <td th:text="${task.jobStatus}"></td>
            <td th:text="${task.jobClass}"></td>
            <td th:text="${task.cronExpression}"></td>
            <td th:text="${task.jobDescription}"></td>
            <td th:text="${task.timeZoneId}"></td>
            <td th:text="${#dates.format(task.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(task.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${task.state}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
